<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/adcdf23364.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <title>task</title>
</head>
<body>
    <div class="navbar">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <a class="navbar-brand">{{request.user}}</a>
            <div class="button">
                <a href="{% url 'apply'  %}"><button class="btn btn-outline-success my-2 my-sm-0">Go back</button></a>
            <a href="{% url 'signout'  %}"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Signout</button></a>
            </div>
          </nav>

    </div>
    <div class="page">
        <div class="form">
            <form action="" method = 'POST'>
                {% csrf_token %}
                {{form.as_p}}
                <div class="save"><input type="submit" value='Submit'></div>
            </form>
        </div>
        <div class="image"><img src="{% static 'media/jobn.png'%}" alt=""></div>
    </div>
</body>
</html>